.modal-container {
  width: 78.5rem;
  height: 46rem;
  padding: 1.8rem;
  left: 30rem;
  top: 11.5rem;
  position: absolute;
  opacity: 0.4;
  background-color: #fffcee;
  box-shadow: 0px 4px 0px #4f4f4f;
  border-radius: 20px;
  border: 3px black solid;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  opacity: 1;
}

.bubble {
  margin-top: 5rem;
}

.x-close {
  align-self: flex-start;
  width: 5rem;
  opacity: 1;
  font-family: 'Averia Sans Libre';
  font-size: 3rem;
}

.modal-container .dragon {
  align-self: flex-end;
  opacity: 1;
}
