@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

div {
  display: flex; /* Change to flex */
  align-items: center; /* Center items vertically */
  gap: 42px;
  position: relative;
}

button {
  outline: none;
  border: none;
  background: none;
}

p {
  text-align: center;
  color: #3b2b23;
  font-size: 55px;
  font-family: 'Germania One';
  font-weight: 400; /* Remove quotes */
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

img {
  width: 63.02px;
  height: 76px;
  position: relative;
}
