@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.menu-card {
  height: 41.875rem;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 22.875rem;
  align-items: center;
  background-color: #fffcee;
  border-radius: 0.9375rem;
  box-shadow: -0.5rem 0.5rem 0px #4e4e4e;
  display: inline-flex;
  flex-direction: column;
  gap: 1.25rem;
}

.outline {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 5.375rem;
  justify-content: center;
}

.title {
  color: #3b2b23;
  font-family: 'Germania One', Arial, Helvetica, sans-serif;
  font-size: 3.4375rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: -1px;
  position: static;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.nav {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 2.875rem;
  position: relative;
  width: 15.375rem;
}

/* not working */
Link {
  align-self: stretch;
  display: block;
  height: 2.5rem;
  position: relative;
  width: 100%;
  text-decoration: none;
}

Link:hover {
  font-weight: 700;
}

/*
.link-content {
  align-items: center;
  display: flex;
  position: relative;
  width: 15.375rem;
}
*/

.icon {
  height: 2.5rem;
  position: relative;
  width: 2.5rem;
}

.label {
  color: #3b2b23;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: -0.41px;
  line-height: 1.375rem;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.sign-out {
  height: 2.1875rem;
  position: relative;
  width: 9.453125rem;
}

.sign-out-icon {
  height: 1.828125rem;
  position: relative;
  width: 1.828125rem;
}

.sign-out-label {
  color: #3b2b23;
  font-family: 'Averia Sans Libre', Helvetica;
  font-size: 1.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  width: 7rem;
}
