/**
 * This is the CSS file for the MenuCard component.
 */

@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.outer-frame {
  height: 41.875rem;
  width: 22.875rem;
}

.inner-frame {
  position: relative;
  border-radius: 0.9375rem;
  height: 41.875rem;
}

.menu-card {
  height: 50.5rem;
  overflow: hidden;
  position: absolute;
  width: 20rem;
  align-items: center;
  background-color: #fffcee;
  border-radius: 0.9375rem;
  box-shadow: -0.5rem 0.5rem 0px #4e4e4e;
  display: flex;
  top: 0;
  flex-direction: column;
}

.outer-frame .outline {
  align-items: flex-start;
  justify-content: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  padding-top: 2.5rem;
  padding-left: 4rem;
  padding-bottom: 2rem;
  gap: 2rem;
}

.nav-title {
  color: #3b2b23;
  font-family: 'Germania One', Arial, Helvetica, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-top: 0.7rem;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.nav {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  margin-top: 0.5rem;
}

.section {
  height: 2.5rem;
  position: relative;
  width: 310px;
}

.text-label p,
.log-out-text p {
  color: #3b2b23;
  font-family: 'Averia Sans Libre', sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.41px;
  line-height: 22px;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.nav-row {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  margin-top: 1.3rem;
  text-decoration: none;
}

.text-container,
.text-label {
  height: 40px;
  display: flex;
  align-items: center;
}

.text-container {
  padding-top: 1.5rem;
}

/* Log Out Button (not currently included) */
.nav-row .log-out-text p {
  font-size: 25px;
}

.log-out {
  margin-top: 0.5rem;
}

.log-out .text-label p {
  font-size: 24px;
}
