.modal-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  justify-content: center; /* Horizontally center the children */
  align-items: center;
  position: relative;
}

.speech-bubble {
  height: 100px;
}

.dragon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}
