@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.border {
  align-items: flex-start;
  background-color: rgba(170, 216, 177, 1);
  border-radius: 1.25rem;
  display: inline-flex;
  flex-direction: column;
  height: 15.4375rem;
  overflow: hidden;
  padding: 1.5rem 1.5rem;
  position: relative;
}

.border-1 {
  align-items: flext-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 11;
  position: relative;
  width: 49.9375rem;
  gap: 0rem;
}

.border-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8.3125rem;
  position: relative;
  width: 49.9375rem;
}

.text,
.text-2,
.text-3 {
  font-family: 'Averia Sans Libre', Helvetica;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 100%;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.text,
.text-2 {
  color: rgba(255, 252, 238, 1);
}

.text-2 {
  flex: 1;
}

.text-3 {
  color: #3b2b23;
}

.prog-col-name {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4.0625rem;
  position: relative;
}

.start-label {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4.25rem;
  position: relative;
}

.rate-prog-label {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  position: relative;
}

.rate-prog {
  align-items: center;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 4.125rem;
  position: relative;
}

.row-container {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  gap: 0;
  width: 100%;
}

.row {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 2.9375rem;
  position: relative;
}

.star-container {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 0.5625rem;
  position: relative;
}
