@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.lesson-img {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  display: flex;
}

.lesson-img img {
  width: 70%;
  height: 70%;
}

.lesson-heading {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.lesson-heading > p:first-child {
  width: 503px;
  color: #3b2b23;
  font-size: 35px;
  font-family: 'Germania One';
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.lesson-container {
  width: 1033px;
  justify-content: center;
  align-items: center;
  gap: 587px;
  display: inline-flex;
  flex-direction: column;
}

.lesson-text {
  width: 1017px;
  color: black;
  font-size: 25px;
  font-family: 'Averia Sans Libre';
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
}

/* Button Styling */
.next-button {
  all: unset;
  align-items: center;
  background-color: #ffffff;
  border: 3px solid;
  border-color: #000000;
  border-radius: 20px;
  box-shadow: -4px 4px 0px #4f4f4f;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  overflow: hidden;
  padding: 14px 26px;
  position: relative;
  width: 223px;
}

.next-button .frame {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  position: relative;
  width: 100%;
}

.next-button .text-wrapper {
  color: #000000;
  font-family: 'Averia Sans Libre-Regular', Helvetica;
  font-size: 36px;
  font-weight: 400;
  height: 45px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 73px;
}
