/* @import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.overview-card {
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  overflow: hidden;
  padding: 1.8rem 1.8rem;
  position: relative;
  width: 56.25rem;
  height: 36rem;
}

.outline {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  flex-direction: column;
  gap: 3.5625rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.outline-frame {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: 2rem;
  gap: 3.5625rem;
  position: relative;
  width: 100%;
}

.progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.progress p {
  margin: 0px;
}

.profile {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.group {
  background-color: #89722a;
  border-radius: 22.5rem;
  height: 12.0625rem;
  position: relative;
  width: 12.0625rem;
}

.overlap-group {
  background-color: #89722a;
  border-radius: 22.5rem;
  height: 12.0625rem;
  position: relative;
}

.profile-outline {
  background-color: #89722a;
  border-radius: 22.5rem;
  height: 12.0625rem;
  left: 0;
  position: absolute;
  top: 0;
  width: 12.0625rem;
}

.img {
  height: 10.5625rem;
  left: 0.75rem;
  object-fit: cover;
  position: absolute;
  top: 0.75rem;
  width: 10.5625rem;
}

.name {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 0rem;
  position: relative;
}

.name-label {
  color: #121212;
  font-family: 'Averia Sans Libre', Helvetica;
  font-size: 1.875rem;
  height: 2rem;
  font-weight: 400;
  margin-bottom: 0.8rem;
  letter-spacing: -0.4px;
  line-height: 100%;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.grade-label {
  color: rgba(142, 142, 142, 1);
  font-family: 'Averia Sans Libre', Helvetica;
  height: 1.5rem;
  font-size: 1.25rem;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.progress {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 1.375rem;
  position: relative;
  height: ;
}

.progress-overview {
  color: #3b2b23;
  font-family: 'Averia Sans Libre', Helvetica;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1px;
  position: relative;
  width: fit-content;
} */

.begin-text {
  color: black;
  font-size: 25px;
  font-family: 'Averia Sans Libre';
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
}

.overview-card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 100%;
  height: auto;
}

.lesson-container {
  text-align: center;
  padding: 0;
}

.lesson-title {
  width: 100%;
  color: #3b2b23;
  font-size: 50px;
  font-family: 'Germania One';
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.lesson-image {
    border-radius: 20px;
    box-shadow: -7px 7px 0px #4e4e4e;
}

.lesson-summary {
  color: black;
  font-size: 20px;
  font-family: 'Averia Sans Libre';
  font-weight: 400;
  line-height: 40px;
  word-wrap: break-word;
}

.begin-button {
  align-items: center;
  background-color: #ffbe5d;
  border: 3px solid;
  border-color: #000000;
  border-radius: 20px;
  box-shadow: -4px 4px 0px #4f4f4f;
  box-sizing: border-box;
  gap: 10px;
  overflow: hidden;
  padding: 14px 26px;
  position: relative;
  width: 150px;
  font-weight: 400;
  height: 60px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  display: flex;
  justify-content: center;
}

.begin-button:hover {
  background-color: #fcaf3b;
}



