@import url('https://fonts.googleapis.com/css2?family=Germania+One&display=swap');

.logo-container {
  display: flex;
  align-items: center;
  gap: 2rem;
  position: relative;
  height: 4.75rem;
}

#logo-title {
  text-align: center;
  color: #3b2b23;
  font-size: 3.5rem;
  font-family: 'Germania One', Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
  word-wrap: break-word;
}

.logo-img {
  width: 4.3rem;
  height: 5rem;
  position: relative;
}
